*{
    font-family: serif;
}
.container-fluid{
    width: 1320px;
    display: 0 auto;
}
.nav-link, .nav-item{
    color: #9F9F9F;
}
.nav-item{
    padding-top: 20px;
    text-align: center;
    font-size: 13pt;
    font-weight: 700;
    margin: 5px;
    align-self: baseline;
}
.nav-logo{
    padding-right: 160px;
    margin: 5px;
}
.nav-logo img{
    width: 100px;
}
.img-fluid{
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-top: 10px;
}
.description{
    text-align: center;
    padding: 40px 200px;
}
.statement blockquote, p{
    text-align: center;
}
.img-thumbnail{
    margin-left: 10px;
    margin-bottom: 10px;
}
.mb-0{
    font-size: 11pt;
    color: #5F5F5F;
    line-height: 12pt;
}
.h2{
    font-weight: bold;
    font-size: 18pt;
}
.h1-lead{
    font-size: 18pt;
    font-weight: bold;
    margin-top: 60px;
}
.lead{
    font-size: 11pt;
    padding: 10px 160px;
    line-height: 12pt;
    margin-bottom: 40px;
}
.method{
    width: 100%;
}
.method-img{
    width: 110%;
    height: 450px;
}
.img-service{
    padding-left: 30px;
}
.content-title{
    text-align: center;
    font-size: 14pt;
    color: #2B720C;
    margin: 10px;
    font-weight: bold;
}
.content-p{
    text-align: center;
    font-size: 11pt;
    line-height: 12pt;
}